body {
  background-color: rgb(26, 26, 26, 0.8);
  height: 100vh;
  text-align: center;
  font-family: "Baloo Chettan 2", cursive;
}

img {
  height: 90%;
  width: 40%;
  display: block;
  margin: auto;
  border-radius: 20px;
  box-shadow: 5px 5px rgb(43, 43, 43, 0.8);
}
h1 {
  color: white;
}
